#nav-title {
  font-size: 1.5em;
  color: #fff;
}

#nav-icon {
  margin-right: 1em;
}

.navbar {
  font-family: "Montserrat";
}

#gallery-container {
  margin-top: 3em;
}

.row {
  margin-top: 1em;
}