:root {
  --flame-color: #ffd600ff;
  --stick-color: #7b6240ff;
  --rotate-speed: 10s;
  --particle-size: 0.1em;
  --particle-speed: 3s;
  --particle-speed2: calc(0.5 * var(--particle-speed));
  --particle-speed3: calc(0.7 * var(--particle-speed));
  --particle-speed4: calc(0.9 * var(--particle-speed));
  --particle-speed5: calc(0.3 * var(--particle-speed)); }

.body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2em); }

.scene {
  position: relative; }

.shape-container {
  position: relative;
  transform-style: preserve-3d;
  animation: sceneRotate var(--rotate-speed) infinite linear; }
@keyframes sceneRotate {
  to {
    transform: rotateY(360deg); } }
.floor {
  position: absolute;
  transform: translate(-50%, -50%) rotateX(90deg);
  top: 1em;
  width: 15em;
  height: 15em;
  background-image: radial-gradient(#0000, #000 75%), repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
  background-size: 100%, 1em 1em; }

.shape p {
  font-size: 0.5em; }

.face {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.shape {
  width: 2em;
  height: 8em;
  position: absolute;
  top: -3em;
  left: -1em; }
  .shape .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--stick-color);
    box-shadow: 0 0 0.5em #000a inset; }
  .shape .cube1 {
    transform: translateZ(1em); }
  .shape .cube2 {
    transform: rotateY(270deg) translateZ(1em); }
  .shape .cube3 {
    transform: rotateY(180deg) translateZ(1em); }
  .shape .cube4 {
    transform: rotateY(90deg) translateZ(1em); }
  .shape .top,
  .shape .bottom {
    height: 2em;
    width: 2em; }
  .shape .top {
    transform: translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000a inset; }
  .shape .bottom {
    bottom: 0;
    transform: translateY(50%) rotateX(-90deg);
    box-shadow: 0 0 0.5em #000a inset; }

#stick .face {
  background: url("../assets/torch/stick.svg");
  background-size: cover; }

#flame-container {
  z-index: 1; }

#flame {
  top: -4em;
  width: 2em;
  height: 2em; }
  #flame .face {
    background: url("../assets/torch/flame.svg");
    background-size: cover;
    z-index: 1; }
  #flame .top {
    z-index: -2; }

#particles {
  top: -4em;
  width: 2em;
  height: 2em; }
  #particles .face {
    background: url("../assets/torch/flame.svg");
    background-size: cover;
    z-index: 1; }
  #particles .top {
    z-index: -2; }

.particles {
  width: 100%;
  height: 100%; }

.particle {
  height: var(--particle-size);
  width: var(--particle-size);
  position: relative;
  top: var(--particle-size); }

.particle1, .particle2, .particle3 {
  background: url("../assets/torch/flame.svg");
  background-size: cover; }

.particle4, .particle5 {
  background-color: #3f3f3f; }

@keyframes particleOpacity {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
.particle1 {
  left: 0;
  animation: particleOpacity var(--particle-speed) infinite ease-in, particleRiseAnimate1 var(--particle-speed) infinite ease-in; }
@keyframes particleRiseAnimate1 {
  0% {
    transform: translateY(0em); }
  100% {
    transform: translateY(-2em); } }
.particle2 {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  animation: particleOpacity var(--particle-speed2) infinite ease-in, particleRise2 var(--particle-speed2) infinite ease-in; }
@keyframes particleRise2 {
  0% {
    transform: translateY(-0.5em); }
  50% {
    transform: translateY(-1.5em);
    opacity: 0; }
  90% {
    transform: translateY(0em);
    opacity: 0; }
  100% {
    opacity: 1; } }
.particle3 {
  left: 1.75em;
  right: 0;
  animation: particleOpacity var(--particle-speed3) infinite ease-in, particleRise3 var(--particle-speed3) infinite ease-in; }
@keyframes particleRise3 {
  0% {
    transform: translateY(0em); }
  100% {
    transform: translateY(-3em); } }
.particle4 {
  left: 0.5em;
  animation: particleOpacity var(--particle-speed4) infinite ease-in, particleRise4 var(--particle-speed4) infinite ease-in; }
@keyframes particleRise4 {
  0% {
    transform: translateY(0em); }
  100% {
    transform: translateY(-2.5em); } }
.particle5 {
  left: 1.5em;
  animation: particleOpacity var(--particle-speed5) infinite ease-in, particleRise4 var(--particle-speed5) infinite ease-in; }
@keyframes particleRise4 {
  0% {
    transform: translateY(0em); }
  100% {
    transform: translateY(-1.3em); } }

/*# sourceMappingURL=torch.css.map */
